.cell-1 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 0;
	top: 0;
}

.cell-2 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 75px;
	top: 0;
}

.cell-3 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 150px;
	top: 0;
}

.cell-4 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 225px;
	top: 0;
}

.cell-5 {
	position: absolute;
	position: absolute;
	width: 75px;
	height: 72px;
	left: 300px;
	top: 0;
}

.cell-6 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 375px;
	top: 0;
}

.cell-7 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 0;
	top: 72px;
}

.cell-8 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 75px;
	top: 72px;
}

.cell-9 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 150px;
	top: 72px;
}

.cell-10 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 225px;
	top: 72px;
}

.cell-11 {
	position: absolute;
	position: absolute;
	width: 75px;
	height: 72px;
	left: 300px;
	top: 72px;
}

.cell-12 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 375px;
	top: 72px;
}

.cell-13 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 0;
	top: 144px;
}

.cell-14 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 75px;
	top: 144px;
}

.cell-15 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 150px;
	top: 144px;
}

.cell-16 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 225px;
	top: 144px;
}

.cell-17 {
	position: absolute;
	position: absolute;
	width: 75px;
	height: 72px;
	left: 300px;
	top: 144px;
}

.cell-18 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 375px;
	top: 144px;
}

.cell-19 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 0;
	top: 216px;
}

.cell-20 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 75px;
	top: 216px;
}

.cell-21 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 150px;
	top: 216px;
}

.cell-22 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 225px;
	top: 216px;
}

.cell-23 {
	position: absolute;
	position: absolute;
	width: 75px;
	height: 72px;
	left: 300px;
	top: 216px;
}

.cell-24 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 375px;
	top: 216px;
}

.cell-25 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 0;
	top: 288px;
}

.cell-26 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 75px;
	top: 288px;
}

.cell-27 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 150px;
	top: 288px;
}

.cell-28 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 225px;
	top: 288px;
}

.cell-29 {
	position: absolute;
	position: absolute;
	width: 75px;
	height: 72px;
	left: 300px;
	top: 288px;
}

.cell-30 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 375px;
	top: 288px;
}
