.img-7 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 0;
	top: 72px;
}

.img-8 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 75px;
	top: 72px;
}

.img-9 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 150px;
	top: 72px;
}

.img-10 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 225px;
	top: 72px;
}

.img-11 {
	position: absolute;
	position: absolute;
	width: 75px;
	height: 72px;
	left: 300px;
	top: 72px;
}

.img-12 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 375px;
	top: 72px;
}