.img-13 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 0;
	top: 144px;
}

.img-14 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 75px;
	top: 144px;
}

.img-15 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 150px;
	top: 144px;
}

.img-16 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 225px;
	top: 144px;
}

.img-17 {
	position: absolute;
	position: absolute;
	width: 75px;
	height: 72px;
	left: 300px;
	top: 144px;
}

.img-18 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 375px;
	top: 144px;
}