.img-19 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 0;
	top: 216px;
}

.img-20 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 75px;
	top: 216px;
}

.img-21 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 150px;
	top: 216px;
}

.img-22 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 225px;
	top: 216px;
}

.img-23 {
	position: absolute;
	position: absolute;
	width: 75px;
	height: 72px;
	left: 300px;
	top: 216px;
}

.img-24 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 375px;
	top: 216px;
}