.img-25 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 0;
	top: 288px;
}

.img-26 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 75px;
	top: 288px;
}

.img-27 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 150px;
	top: 288px;
}

.img-28 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 225px;
	top: 288px;
}

.img-29 {
	position: absolute;
	position: absolute;
	width: 75px;
	height: 72px;
	left: 300px;
	top: 288px;
}

.img-30 {
	position: absolute;
	width: 75px;
	height: 72px;
	left: 375px;
	top: 288px;
}